.box {
    border: 2px solid black;
    background: white;
    border-radius: 1rem;
    width: 100%;
    max-width: 400px;
    padding: 0.5em;
}
.box > *:not(:last-child) {
    margin-bottom: 1em;
}
.header { 
    text-align: center; 
}

/*  */

/* .todo-form {} */
.todo-form > div {
    border: 2px solid black;
    border-radius: 1.5rem;
    display: flex;
    max-width: 300px;
    margin: 0 auto;
    overflow: hidden;
}
.task-inp {
    width: 100%;
    padding: 0.75em;
}
.submit-btn {
    font-size: 2rem;
    font-weight: bold;
    width: 45px;
}
.submit-btn:hover,
.submit-btn:focus
{ background: darkgray; }
.submit-btn:active 
{ background: silver; }

/*  */

/* .todo-list {} */
.task-card {
    display: flex;
    flex-flow: row;
}
.task-card:not(:last-child) {
    margin-bottom: 0.25em;
}

.task-check-box {
    flex: 1 1 auto;
    display: flex;
    align-items: center;

    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis; */
}
.check-box { display: none; }
.check-mark::before {
    content: "";
    vertical-align: text-top;

    --check-size: 19px;
    border: 1px solid gray;
    background: lightgray;
    
    font-weight: bolder;
    text-align: center;
    border-radius: 0.25rem;

    display: inline-block;
    width: var(--check-size);
    height: var(--check-size);
    margin-right: 0.5em;
}
.check-mark:hover::before {
    background: gray;
}
.check-mark:active::before {
    background: silver;
}
.check-box:checked + .check-mark::before {
    content: "✓";
}
.check-box:checked + .task-header { 
    text-decoration: line-through; 
    text-decoration-color: rgba(0,0,0,0.45);
}
.task-header {
    cursor: pointer;
    width: 100%;

    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-opts { 
    display: flex;
}
.task-opts > button:not(:first-child) {
    margin-left: 0.5em;
}

/*  */

/* .todo-list {} */
/* .task-form {} */
.task-form > *:not(:last-child) {
    margin-bottom: 0.75em;
}
.task-title,
.task-desc 
{
    border: 1px solid black;
    border-radius: 0.75rem;
    width: 100%;
    padding: 0.5em;
}
.task-title {
    font-weight: bold;
}
.task-desc {
    height: 100px;
}
.menu-opts {
    text-align: right;
}
/* .submit-update {} */
.task-mark {
    text-align: center;
    line-height: calc(30px - 2px);
}
.check-box:checked + .task-mark::before {
    content: "✓";
}
/* .task-delete {} */

/*  */

.btn {
    vertical-align: bottom;
    --btn-size: 30px;
    border: 1px solid silver;
    border-radius: 50%;
    font-weight: bold;
    display: inline-block;
    width: var(--btn-size);
    height: var(--btn-size);
}
.btn:hover {
    border-color: gray;
    background: gray;
}